# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
*.env
/screenshots/
/videos/
/allure-report/
/test-results/
/node_modules/
/allure-results/
/.playwright-mcp/
# Bỏ qua tất cả các file và thư mục nằm trong allure-results
allure-results/*
 
# Ngoại trừ file dummy.txt (dấu ! dùng để loại trừ quy tắc ignore ở trên)
!allure-results/dummy.txt