
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
*.env
/screenshots/
/videos/
/allure-report/
/test-results/
/node_modules/
/allure-results/
/.playwright-mcp/